@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");
/*Fuente Rick Owens menu*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------------------------------------------------------------ */
/* CSS ABOUTUS.HTML */

.body-aboutus {
  background-color: #0b0b0b;
  height: auto;
  width: 100%;
}

.header-aboutus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: linear-gradient(#ffffff, #0a0a0a);
  text-align: center;
}

.logo {
  height: 350px;
  transition: 1.5s;
}

.logo:hover {
  opacity: 0;
  transition: 1.5s;
}

.container-quienes-somos {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  color: #aaaaaa;
  width: 100%;
  font-family: "Oswald", sans-serif;
  padding-top: 20px;
}

.container-img-rickow {
  grid-column-start: 1/2;
}

.rick-ow {
  height: 700px;
  position: relative;
}

.titulo-quienes-somos {
  font-size: xxx-large;
  margin-bottom: 20px;
}
.p-quienes-somos {
  grid-column-start: span 2;
  padding: 10px;
  margin-bottom: 100px;
}
.parrafo {
  font-size: x-large;
  padding: 5px 0;
}

.boton-home {
  position: relative;
  color: #9f9fb3;
  font-family: "Oswald", sans-serif;
  top: 1.5rem;
  text-decoration: none;
  transition: 1.2s;
  color: aliceblue;
  border-radius: 20px;
  font-size: x-large;
}

.boton-home:hover {
  background-color: #f3f3f3;
  border-radius: 45px;
  transition: 1.2s;
  color: #070707;
  font-size: larger;
  padding: 10px 20px;
}

footer {
  font-family: "Playfair Display", serif;
  background-color: #000000;
  color: white;
  height: 100%;
  text-align: center;
}

.container-uno-footer p {
  display: inline-block;
  margin: 20px;
}

.container-dos-footer p {
  display: inline-block;
  margin: 20px;
}


.segundo-container-footer a {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #f3f3f3;
  transition: 1s;
  font-size: 20px;
  text-decoration: none;
}

.segundo-container-footer a:hover {
  color: #2a2a33;
  transition: 1s;
}

.segundo-container-footer p {
  display: inline-block;
  font-size: 15px;
}

.container-tres-footer{
  margin-top: 20px;
  margin-bottom: 20px;
}

.container-tres-footer a{
  color: white;
  text-decoration: none;
  font-family: "Playfair Display", serif;
  transition: 0.5s;
}

.container-tres-footer a:hover{
  color: rgb(54, 54, 54);
  transition: 0.5s;
}

@media (max-width: 442px) {
  .logo {
    transition: 1.5s;
    width: 320px;
  }

  .container-quienes-somos {
    display: grid;
    color: #aaaaaa;
    width: 100%;
    font-family: "Oswald", sans-serif;
    padding: 20px;
  }

  .container-img-rickow {
    display: none;
  }

  .p-quienes-somos {
    grid-column-start: span 3;
    height: 100%;
    margin-bottom: 0;
  }

  .titulo-quienes-somos {
    font-size: xx-large;
    margin-bottom: 20px;
  }
  .parrafo {
    font-size: larger;
    padding: 5px 0;
  }

  .footer-aboutus {
    margin-top: 5em;
  }
}

@media (min-width: 443px) and (max-width: 948px) {
  .logo {
    transition: 1.5s;
    width: 320px;
  }

  .container-quienes-somos {
    display: grid;
    color: #aaaaaa;
    width: 100%;
    font-family: "Oswald", sans-serif;
    padding: 20px;
    align-items: center;
  }

  .container-img-rickow {
    display: none;
  }

  .p-quienes-somos {
    grid-column-start: span 3;
  }
}

/* ------------------------------------------------------------------------------ */
/* CSS INICIO.HTML */

.body-index {
  background-color: #0a0a0a;
}

.menu {
  background-color: #0c0c0c;
  color: #f3f3f3;
}

.menu h1 {
  text-align: center;
  font-size: 50px;
  font-family: "Oswald", sans-serif;
}

.menu h1 a {
  color: white;
  text-decoration: none;
  transition: 0.6s;
}

.menu h1 a:hover {
  color: rgb(54, 54, 54);
  transition: 0.6s;
}

.menu ul {
  text-align: center;
}

.menu li {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.menu li a {
  color: white;
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  padding: 10px;
  transition: 0.6s;
}

.menu li a:hover {
  background-color: #2a2a33;
  transition: 0.6s;
  border-radius: 4px;
}

.subcontenedor-general-index {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.subcontenedor-general-index-vid {
  position: relative;
  display: inline-block;
}

.subcontenedor-general-index-vid > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  margin: 0;
  padding: 10px;
  color: white;
  font-family: "Oswald", sans-serif;
}

.subcontenedor-general-index video {
  margin: 30px;
  transition: 0.6s;
}

.subcontenedor-general-index video:hover {
  opacity: 0.2;
  transition: 0.6s;
  cursor: pointer;
}

/* ------------------------------------------------------------------------------ */
/* CSS SHOPMAN.HTML */

.body-shopman {
  width: 100%;
}

.contenedor-shop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.elemento {
  margin: 30px;
}

.elemento p {
  font-family: "Oswald", sans-serif;
}

.elemento:hover {
  opacity: 0.9;
  transition: 0.6s;
  cursor: pointer;
}

/* ------------------------------------------------------------------------------ */
/* CSS CONTACT.HTML */

.body-contact {
  background-color: #0a0a0a;
  height: 100vh;
  width: 100%;
  margin: 0;
}

.form-contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
}

.form-contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-direction: column;
  align-items: center;
  background-color: rgb(3, 3, 3);
  width: 50%;
}
.div {
  display: flex;
  width: 90%;
  margin-left: 10px;
  flex-direction: column;
}

.label-form {
  display: flex;
  align-items: start;
  margin-left: 10px;
}

.label-sexo {
  width: 50%;
  display: flex;
  margin-left: 10px;
}

.div-radio {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.div-other-gen {
  display: none;
}

form label {
  font-family: "Oswald", sans-serif;
  text-align: center;
  color: white;
}

.input-form {
  width: 100%;
  height: 30px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  padding-left: 5px;
}

.input-form-especify {
  width: 100%;
  height: 30px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  padding-left: 5px;
}

.textarea-form {
  align-items: center;
  justify-content: center;
}

.error-message {
  color: red;
  font-size: 0.875em;
  margin-top: 3px;
  display: none;
}

.button-form {
  width: 100%;
  height: 3em;
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  transition: 1.2s;
  border-radius: 10px;
}

.contact-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  height: 34%;
}

@media (max-width: 768px) {
  .form-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(3, 3, 3);
    width: 250px;
  }

  .button-form {
    width: 100%;
    height: 3em;
    font-family: "Oswald", sans-serif;
    text-decoration: none;
    transition: 1.2s;
    border-radius: 10px;
  }
}
